*.py[co]
nohup.out
settings.yaml
*.swp
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# emacs
*~
*#
.#*

# static files
**/*.bat
node_modules/
**/.sass-cache/
**/*.map
app/static/debug/
app/static/dist/
app/static/css/
npm-debug.log
**/*.mp4
app/static/js/vendor/
**/.DS_Store
bower_components

# config file
settings.yaml

# virtual env
/hbase
